:root {
    /* Colors */
    --bg-color-dark: rgb(46, 52, 64);
    --bg-color-light: rgb(76, 86, 106);

    --fg-color-dark: rgb(216, 222, 233);
    --fg-color-light: rgb(236,  239, 244);

    /* Sizing and Positioning */
    --horizontal-pad: 16px;
    --vertical-pad: 16px;
    --inner-horizontal-pad: 32px;
    --inner-vertical-pad: 32px;
    --content-height: calc(100vh - var(--vertical-pad) - var(--vertical-pad));

    /* Image Sizing */
    --social-size: clamp(48px, 3vw, 72px);
}

html {
    overflow: hidden;
}

body {
    margin: var(--vertical-pad) var(--horizontal-pad);
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--bg-color-dark);
    overflow-y: visible;
}

.temp {
    min-height: 2000px;
}

