:root {
    /* Colors */
    --bg-color-dark: rgb(46, 52, 64);
    --bg-color-light: rgb(76, 86, 106);

    --fg-color-dark: rgb(216, 222, 233);
    --fg-color-light: rgb(236,  239, 244);
    
    --fg-color-dark-transparent: rgb(216, 222, 233, 0.2);

    /* Scrollbar */
    --scrollbar-width: 8px;
    --scrollbar-border-radius: 4px;

    /* Sizing and Positioning */
    --horizontal-pad: 32px;
    --vertical-pad: 32px;
    --container-border-radius: 8px;

    /* Image Sizing */
    --social-size: clamp(48px, 3vw, 72px);
}

html {
    overflow: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--bg-color-light);
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    .container {
        max-width: none;
    }
}

.temp {
    min-height: 2000px;
}

