/* Custom scroll bar */
.content {
    height: var(--content-height);
    overflow-y: scroll;
    padding: var(--inner-vertical-pad) var(--inner-horizontal-pad);
}
.content::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
.content::-webkit-scrollbar-track {
    margin-top: 30vh;
    margin-bottom: 30vh;
    border-radius: var(--scrollbar-border-radius);
    background-color: var(--bg-color-light);
}
.content::-webkit-scrollbar-thumb {
    background: var(--fg-color-dark);
    border-radius: var(--scrollbar-border-radius);
    cursor: pointer;
}

/* Social Links */
.links {
    position: fixed;
    top: calc(var(--vertical-pad) + var(--inner-vertical-pad));
    right: calc(var(--horizontal-pad) + var(--inner-horizontal-pad));
    display: flex;
    z-index: 10;
}
.links img {
    height: var(--social-size);
    width: var(--social-size);
    cursor: pointer;
}
.links a {
    margin: 0.5rem;
}