/* Scrollbar */
.content {
    overflow-y: scroll;
    height: 100vh;
    margin: var(--vertical-pad) var(--horizontal-pad);
}
.content::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
.content::-webkit-scrollbar-track {
    margin-top: 30vh;
    margin-bottom: 30vh;
    border-radius: var(--scrollbar-border-radius);
    background-color: var(--bg-color-dark);
}
.content::-webkit-scrollbar-thumb {
    background: var(--fg-color-dark);
    border-radius: var(--scrollbar-border-radius);
    cursor: pointer;
}